*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    margin: 14px 30px 0 0;
}

nav a{
    padding: 5px 7px;
    color: #000;
}
nav a:hover{
    text-decoration: underline;
    opacity: .7;
}

nav img{
    width: 34px;
    padding: 5px;
}
nav img:hover{
    border-radius: 50%;
    background: #e7e7e7;
}
nav button{
    background: #1a73e8;
    color: #fff;
}
nav button{
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px 15px;
    margin-left: 7px;
}
nav button:hover{
    opacity: .8;
}

.section{
    flex: 1;
}

.searchicon{
    width: 18px;
}
.vsicon{
    width: 18px;
}
.logo{
    display: block;
    width: 300px;
    margin: 0 auto;
    margin-top: 150px;
}

.searchbox{
    width: 580px;
    margin: 0 auto;
    margin-top: 42px;
    text-align: center;
    position: relative;
    
}
.searchinput{
    width: 100%;
    padding: 13px 45px 13px 45px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
}
.searchicon{
    width: 18px;
    position: absolute;
    left: 14px;
    top: 14px;
    opacity: .4;
}

.vsicon{
    width: 14px;
    position: absolute;
    top: 12px;
    right: 24px;
    cursor: pointer;
}
.searchinput:hover, .searchbtn:hover{
    box-shadow: 0 1px 3px rgb(192, 185, 185);
}
.searchbtn{
    border: 1px solid transparent;
    padding: 9px 12px;
    margin: 20px 0 20px 0;
    color: #666;
    border-radius: 4px;
    cursor: pointer;
}

.lang{
    text-align: center;
    color: #111;

}
.lang a{
    color: #1a0dab;
    margin-left: 10px;
}
.lang a:hover{
    text-decoration: underline;
}
footer{
    background: #f2f2f2;
}

.links{
    display: flex;
    justify-content: space-between;
}

footer h4{
    color: rgba(0, 0, 0, .54);
    font-size: 15px;
    padding: 20px 0 20px 28px;
    border-bottom: 1px solid #DADCE0;
}

footer a{
    color: #5f6368;
    display: inline-block;
    padding: 12px 11px;
}

footer a:hover{
    text-decoration: underline;
}